In [1]:
import pandas as pd

### CSV

In [2]:
df_csv = pd.read_csv('../../Pliki/02_pandas/people.csv)
df_csv

SyntaxError: unterminated string literal (detected at line 1) (2390606358.py, line 1)

In [3]:
df_excel = pd.read_excel('../../Pliki/02_pandas/products.xlsx')
df_excel

         Product             Category  Price  Stock
0         Laptop          Electronics   1200     50
1     Smartphone          Electronics    800    100
2        T-shirt             Clothing     25    300
3          Jeans             Clothing     60    150
4       Sneakers                Shoes     80    200
5     Headphones          Electronics    150     75
6       Backpack          Accessories     40    120
7           Desk            Furniture    250     30
8          Chair            Furniture    150     50
9         Guitar  Musical Instruments    300     40
10      Keyboard  Musical Instruments    200     60
11          Book                Books     15    500
12         Watch          Accessories    100     80
13    Sunglasses          Accessories     50    100
14     Microwave           Appliances    100     25
15  Refrigerator           Appliances    500     15