In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df_house = pd.read_csv('../../Pliki/02_pandas/house_price.csv')
df_house.head()

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
0,Kawalerka na sprzedaż,240000.0,8888.89,Private,1.0,27.00,1,Housing Block,primary,Bolesławiec,Lower Silesia,January,2022,39603,15.565105,51.263033
1,Nowoczesna kawalerka z winda plus garaż podziemny,250000.0,7142.86,Private,1.0,35.00,1,Housing Block,primary,Jelcz-Laskowice,Lower Silesia,January,2022,15828,17.349964,51.039831
2,Nowa kawalerka z Balkonem/Legnicka/Magnolia,259000.0,10360.00,Estate Agency,2.0,25.00,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
3,Kawalerka z balkonem/klucze I kwartał 2022/60 ...,269000.0,10275.02,Private,3.0,26.18,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
4,40 tys. taniej od dewelopera/Kawalerka/Magnoli...,258000.0,9923.08,Estate Agency,3.0,26.00,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978

In [4]:
df_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62731 entries, 0 to 62730
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   offer_title             62731 non-null  object
 1   price                   62731 non-null  float64
 2   price_per_meter         62731 non-null  float64
 3   offer_type              62731 non-null  object
 4   floor                   61246 non-null  float64
 5   area                    61246 non-null  float64
 6   rooms                   62731 non-null  int64
 7   offer_type_of_building  61246 non-null  object
 8   market                  62731 non-null  object
 9   city_name               62731 non-null  object
 10  voivodeship             62731 non-null  object
 11  month                   62731 non-null  object
 12  year                    62731 non-null  int64
 13  population              62731 non-null  int64
 14  longitude               62731 non-null  float64
 15  latitude                62731 non-null  float64
dtypes: float64(6), int64(3), object(7)
memory usage: 7.7+ MB

In [5]:
df_house.isna().sum()

offer_title                  0
price                        0
price_per_meter              0
offer_type                   0
floor                     1485
area                      1485
rooms                        0
offer_type_of_building    1485
market                       0
city_name                    0
voivodeship                  0
month                        0
year                         0
population                   0
longitude                    0
latitude                     0
dtype: int64

In [6]:
df_house = df_house.dropna()
df_house.isna().sum()

offer_title               0
price                     0
price_per_meter           0
offer_type                0
floor                     0
area                      0
rooms                     0
offer_type_of_building    0
market                    0
city_name                 0
voivodeship               0
month                     0
year                      0
population                0
longitude                 0
latitude                  0
dtype: int64

In [7]:
pd.set_option('display.float_format',lambda x: '%.5f' % x)

In [8]:
df_house.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,61246.00000,61246.00000,61246.00000,61246.00000,61246.00000,61246.00000,61246.00000,61246.00000,61246.00000
mean,398999.68544,7582.48766,2.39903,91.29966,2.51233,2022.00000,314611.13150,19.15659,51.82203
std,2048308.34199,36871.27928,2.14891,3155.85101,0.82406,0.00000,453265.91052,2.13912,1.32426
min,1.00000,0.02000,-1.00000,1.00000,1.00000,2022.00000,1328.00000,14.25107,49.29694
25%,260000.00000,5257.83000,1.00000,42.00000,2.00000,2022.00000,33967.00000,17.56150,50.68711
50%,345000.00000,6587.86500,2.00000,51.17000,2.00000,2022.00000,103997.00000,19.27216,51.76873
75%,460000.00000,8775.51000,3.00000,63.00000,3.00000,2022.00000,402465.00000,20.93083,52.84846
max,504151616.00000,9002707.43000,11.00000,399000.00000,4.00000,2022.00000,1744351.00000,23.88738,54.79013

In [9]:
df_house.describe(include='object')

,offer_title,offer_type,offer_type_of_building,market,city_name,voivodeship,month
count,61246,61246,61246,61246,61246,61246,61246
unique,28489,2,5,2,609,16,3
top,Sprzedam mieszkanie,Private,Housing Block,aftermarket,Warszawa,Masovia,March
freq,1815,44476,43800,53944,4157,9042,21357

In [10]:
df_house.sort_values('area')

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
51970,Leśniczówka - nowe mieszkania na sprzedaż,5800.00000,5800.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,Świdwin,West Pomerania,March,2022,15725,15.77735,53.77470
9281,Leśniczówka - nowe mieszkania na sprzedaż,5500.00000,5500.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,Świdwin,West Pomerania,January,2022,15725,15.77735,53.77470
30052,Park Chopina | 34-62 m2 | 1-3 pokoje | taras-b...,6200.00000,6200.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,Tomaszów Mazowiecki,Lodzkie,February,2022,64893,20.00842,51.53169
45585,Mieszkania na parterze,285000.00000,285000.00000,Estate Agency,0.00000,1.00000,2,Housing Block,aftermarket,Sanok,Subcarpathia,March,2022,39027,22.20703,49.56091
56266,"M-3 z loggią, 50,53 m2, pierwsze piętro, os. S...",265000.00000,265000.00000,Estate Agency,1.00000,1.00000,2,Housing Block,aftermarket,Żyrardów,Masovia,March,2022,41096,20.44350,52.05433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27663,Mieszkanie 52m2 parter. Północ.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.92794,54.09906
38482,Mieszkanie 52m2 parter. Północ.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.92794,54.09906
19465,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wrocław,Lower Silesia,February,2022,634487,17.03267,51.10898
9169,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.03267,51.10898
61548,SPRZEDAM mieszkanie 58m2 + piwnica 11m2. Zamkn...,399000.00000,1.00000,Private,2.00000,399000.00000,3,Housing Block,aftermarket,Nowogard,West Pomerania,March,2022,16937,15.12259,53.66877

In [12]:
df_house.sort_values('area',ascending=False)

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
61548,SPRZEDAM mieszkanie 58m2 + piwnica 11m2. Zamkn...,399000.00000,1.00000,Private,2.00000,399000.00000,3,Housing Block,aftermarket,Nowogard,West Pomerania,March,2022,16937,15.12259,53.66877
9169,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.03267,51.10898
19465,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wrocław,Lower Silesia,February,2022,634487,17.03267,51.10898
27663,Mieszkanie 52m2 parter. Północ.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.92794,54.09906
38482,Mieszkanie 52m2 parter. Północ.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.92794,54.09906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34405,"M- 3 z loggią 50.53 m2, 1 piętro, oś. Spółdzie...",285000.00000,285000.00000,Estate Agency,1.00000,1.00000,2,Housing Block,aftermarket,Żyrardów,Masovia,February,2022,41096,20.44350,52.05433
34608,Mieszkania na parterze,285000.00000,285000.00000,Estate Agency,0.00000,1.00000,2,Housing Block,aftermarket,Sanok,Subcarpathia,February,2022,39027,22.20703,49.56091
38238,"M-4 z balkonem 63 m2, drugie piętro w Housing...",389000.00000,389000.00000,Estate Agency,2.00000,1.00000,3,Housing Block,aftermarket,Żyrardów,Masovia,February,2022,41096,20.44350,52.05433
10931,"M-2 z balkonem 32,50 m2, parter os. Spółdzielcza.",229000.00000,229000.00000,Estate Agency,0.00000,1.00000,1,Housing Block,aftermarket,Żyrardów,Masovia,January,2022,41096,20.44350,52.05433
9281,Leśniczówka - nowe mieszkania na sprzedaż,5500.00000,5500.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,Świdwin,West Pomerania,January,2022,15725,15.77735,53.77470

In [16]:
df_house = df_house[(df_house['area']>10) & (df_house['area']<300)]

In [17]:
df_house

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
0,Kawalerka na sprzedaż,240000.00000,8888.89000,Private,1.00000,27.00000,1,Housing Block,primary,Bolesławiec,Lower Silesia,January,2022,39603,15.56510,51.26303
1,Nowoczesna kawalerka z winda plus garaż podziemny,250000.00000,7142.86000,Private,1.00000,35.00000,1,Housing Block,primary,Jelcz-Laskowice,Lower Silesia,January,2022,15828,17.34996,51.03983
2,Nowa kawalerka z Balkonem/Legnicka/Magnolia,259000.00000,10360.00000,Estate Agency,2.00000,25.00000,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.03267,51.10898
3,Kawalerka z balkonem/klucze I kwartał 2022/60 ...,269000.00000,10275.02000,Private,3.00000,26.18000,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.03267,51.10898
4,40 tys. taniej od dewelopera/Kawalerka/Magnoli...,258000.00000,9923.08000,Estate Agency,3.00000,26.00000,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.03267,51.10898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62726,Mieszkanie 4-pokojowe 57m2 parter,230000.00000,4035.09000,Private,0.00000,57.00000,4,Housing Block,aftermarket,Złocieniec,West Pomerania,March,2022,13224,16.01207,53.53107
62727,Mieszkanie 4-pokojowe spółdz. własność. z umeb...,390000.00000,5735.29000,Private,1.00000,68.00000,4,Housing Block,aftermarket,Łobez,West Pomerania,March,2022,10438,15.62135,53.63912
62728,Mieszkanie z lokalem użytkowym,330000.00000,2704.92000,Private,1.00000,122.00000,4,Other,aftermarket,Świdwin,West Pomerania,March,2022,15725,15.77735,53.77470
62729,Mieszkanie 80m2 przy lesie,830000.00000,10375.00000,Private,1.00000,80.00000,4,Housing Block,aftermarket,Świnoujście,West Pomerania,March,2022,41371,14.25107,53.90975
62730,"Duże, komfortowe mieszkanie blisko Parku Zdroj...",990000.00000,9437.56000,Private,3.00000,104.90000,4,Housing Block,aftermarket,Świnoujście,West Pomerania,March,2022,41371,14.25107,53.90975

In [18]:
df_house.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000
mean,397999.37666,7479.30771,2.40033,54.61850,2.51208,2022.00000,314751.93862,19.15705,51.82204
std,2049915.48342,36539.47469,2.14980,19.99929,0.82295,0.00000,453117.73754,2.13882,1.32365
min,1.00000,0.02000,-1.00000,11.00000,1.00000,2022.00000,1328.00000,14.25107,49.29694
25%,260000.00000,5264.17000,1.00000,42.00000,2.00000,2022.00000,33967.00000,17.56523,50.68711
50%,345000.00000,6593.83500,2.00000,51.10000,2.00000,2022.00000,103997.00000,19.27216,51.76873
75%,460000.00000,8775.51000,3.00000,63.00000,3.00000,2022.00000,402465.00000,20.93083,52.84739
max,504151616.00000,9002707.43000,11.00000,298.35000,4.00000,2022.00000,1744351.00000,23.88738,54.79013

In [19]:
df_house.sort_values(('price_per_meter'))

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
30315,Mieszkanie Warka 45 m2 Odstąpię rezerwację,1.00000,0.02000,Private,3.00000,45.00000,2,Apartment Building,primary,Warka,Masovia,February,2022,11727,21.18338,51.78510
40287,Sprzedm tanio... bez pośredników...,4.00000,0.06000,Private,2.00000,62.00000,4,Housing Block,aftermarket,Siedlce,Masovia,February,2022,77102,22.27651,52.16638
40379,OKAZJA. Tylko 246 tys. zł. Nieruchomość na mie...,246.00000,1.76000,Estate Agency,0.00000,140.00000,4,Other,aftermarket,Kędzierzyn-Koźle,Opole,February,2022,63194,18.21096,50.34488
404,Dam odstępne za mieszkanie!,100.00000,2.00000,Private,1.00000,50.00000,2,Housing Block,primary,Zabrze,Silesia,January,2022,178357,18.78637,50.30862
2054,Zamiana Mieszkania,123.00000,2.73000,Private,2.00000,45.00000,2,Housing Block,aftermarket,Lądek-Zdrój,Lower Silesia,January,2022,5917,16.87259,50.34583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51502,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,March,2022,461935,18.65402,54.34829
35588,Mieszkanie do sprzedaży,2800000.00000,53742.80000,Private,2.00000,52.10000,2,Tenement,aftermarket,Biskupiec,Warmia-Masuria,February,2022,10626,20.95518,53.86880
29663,4 pokojowe mieszkanie w slupsku,4440000.00000,60000.00000,Private,4.00000,74.00000,4,Housing Block,aftermarket,Słupsk,Pomerania,February,2022,93936,17.02807,54.46493
52100,Sprzedam mieszkanie -cesja,6580000.00000,149545.45000,Private,1.00000,44.00000,2,Housing Block,primary,Kraków,Lesser Poland,March,2022,762508,19.93686,50.06195
36199,Okazja Pogodno 56 mkw z ogródkiem tylko u nas,504151616.00000,9002707.43000,Estate Agency,1.00000,56.00000,2,Housing Block,aftermarket,Szczecin,West Pomerania,February,2022,402465,14.55096,53.43018

In [20]:
df_house.sort_values('price_per_meter',ascending=False)

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
36199,Okazja Pogodno 56 mkw z ogródkiem tylko u nas,504151616.00000,9002707.43000,Estate Agency,1.00000,56.00000,2,Housing Block,aftermarket,Szczecin,West Pomerania,February,2022,402465,14.55096,53.43018
52100,Sprzedam mieszkanie -cesja,6580000.00000,149545.45000,Private,1.00000,44.00000,2,Housing Block,primary,Kraków,Lesser Poland,March,2022,762508,19.93686,50.06195
29663,4 pokojowe mieszkanie w slupsku,4440000.00000,60000.00000,Private,4.00000,74.00000,4,Housing Block,aftermarket,Słupsk,Pomerania,February,2022,93936,17.02807,54.46493
35588,Mieszkanie do sprzedaży,2800000.00000,53742.80000,Private,2.00000,52.10000,2,Tenement,aftermarket,Biskupiec,Warmia-Masuria,February,2022,10626,20.95518,53.86880
51502,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,March,2022,461935,18.65402,54.34829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,Zamiana Mieszkania,123.00000,2.73000,Private,2.00000,45.00000,2,Housing Block,aftermarket,Lądek-Zdrój,Lower Silesia,January,2022,5917,16.87259,50.34583
404,Dam odstępne za mieszkanie!,100.00000,2.00000,Private,1.00000,50.00000,2,Housing Block,primary,Zabrze,Silesia,January,2022,178357,18.78637,50.30862
40379,OKAZJA. Tylko 246 tys. zł. Nieruchomość na mie...,246.00000,1.76000,Estate Agency,0.00000,140.00000,4,Other,aftermarket,Kędzierzyn-Koźle,Opole,February,2022,63194,18.21096,50.34488
40287,Sprzedm tanio... bez pośredników...,4.00000,0.06000,Private,2.00000,62.00000,4,Housing Block,aftermarket,Siedlce,Masovia,February,2022,77102,22.27651,52.16638
30315,Mieszkanie Warka 45 m2 Odstąpię rezerwację,1.00000,0.02000,Private,3.00000,45.00000,2,Apartment Building,primary,Warka,Masovia,February,2022,11727,21.18338,51.78510

In [23]:
df_house = df_house[(df_house['price_per_meter'] >= 500) & (df_house['price_per_meter'] <=60000)]

In [24]:
df_house = df_house(df_house['price']>100000)

TypeError: 'DataFrame' object is not callable

Eksploracja

In [25]:
df_house['offer_type_of_building'].value_counts()

offer_type_of_building
Housing Block         43662
Tenement               8628
Apartment Building     6325
Other                  2230
Loft                    104
Name: count, dtype: int64

In [26]:
df_house['market'].value_counts()

market
aftermarket    53724
primary         7225
Name: count, dtype: int64

In [27]:
df_house['voivodeship'].value_counts()

voivodeship
Masovia              8993
Silesia              7466
Lower Silesia        5649
Lodzkie              5639
Lesser Poland        4830
Greater Poland       4363
West Pomerania       3715
Lublin               3330
Pomerania            3135
Kuyavia-Pomerania    3092
Warmia-Masuria       2940
Subcarpathia         1706
Świętokrzyskie       1582
Podlaskie            1519
Opole                1506
Lubusz               1484
Name: count, dtype: int64

In [28]:
df_house[df_house['area']<20].size

5232

In [29]:
df_house[(df_house['city_name']=='Łódź')& (df_house['area']>10)&(df_house['area']<25)]

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
28,"ROI 7,2% - piękna kawalerka ul Słowiańska - i...",159000.00000,9937.50000,Estate Agency,2.00000,16.00000,1,Tenement,primary,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
1330,Bezpośrednio od właściciela Apartament 24m2 Łó...,289000.00000,12041.67000,Estate Agency,0.00000,24.00000,1,Apartment Building,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
1331,Mieszkanie 1-pokojowe w rewitalizowanej Kamienicy,195000.00000,9276.88000,Estate Agency,2.00000,21.02000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
1333,kawalerka z C.O. w zrewitalizowanej kamienicy ...,170000.00000,10585.31000,Private,2.00000,16.06000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
1335,RENTAROOM.PL KAWALERKI INWESTYCYJNE super loka...,159000.00000,7950.00000,Estate Agency,4.00000,20.00000,1,Housing Block,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53455,Kawalerka 20 m2 bezczynszowa z miejscem parkin...,105000.00000,5250.00000,Private,1.00000,20.00000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
53457,"Kawalerka 23 M2, sprzedam lub zamienię, pełna ...",120000.00000,5217.39000,Private,2.00000,23.00000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
55241,2 małe pomieszczenia z niskim czynszem do włas...,20000.00000,1000.00000,Estate Agency,1.00000,20.00000,2,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
55329,Dwupokojowe mieszkanie 10 min od Manufaktury i...,199000.00000,8291.67000,Private,1.00000,24.00000,2,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
59196,"RENTAROOM.PL KAWALERKI INWESTYCYJNE wynajęte,p...",149000.00000,8277.78000,Estate Agency,3.00000,18.00000,3,Housing Block,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873

In [31]:
df_house[(df_house['city_name']=='Łódź')& (df_house['area']>10)&(df_house['area']<25)]['rooms'].value_counts()

rooms
1    143
3      4
2      4
Name: count, dtype: int64

In [32]:
df_house.groupby('voivodeship')['price_per_meter'].mean().sort_values(ascending=False)

voivodeship
Lesser Poland       10115.69166
Masovia              9786.41832
Pomerania            8539.35089
West Pomerania       7370.23824
Lower Silesia        7363.74397
Podlaskie            7351.58998
Lublin               7016.10032
Greater Poland       6576.94944
Lodzkie              6466.39793
Subcarpathia         6285.87235
Kuyavia-Pomerania    6260.73864
Warmia-Masuria       6118.25877
Świętokrzyskie       5874.88949
Silesia              5676.37234
Lubusz               5347.65537
Opole                5095.43297
Name: price_per_meter, dtype: float64

In [34]:
df_house.groupby('city_name')['price_per_meter'].mean().sort_values(ascending=False)

city_name
Zakopane           19346.82588
Międzyzdroje       15190.51719
Szklarska Poręba   15015.03375
Sopot              14822.97873
Szczyrk            14614.36474
                       ...
Zagórz              1808.08000
Sulejów             1568.51500
Małomice            1529.91400
Szczuczyn           1323.53000
Lipiany             1246.82625
Name: price_per_meter, Length: 608, dtype: float64

In [35]:
df_house.groupby(['voivodeship','market'])['price_per_meter'].mean()

voivodeship        market
Greater Poland     aftermarket    6645.85946
                   primary        6287.08329
Kuyavia-Pomerania  aftermarket    6221.74405
                   primary        6696.43406
Lesser Poland      aftermarket   10129.25807
                   primary       10022.53860
Lodzkie            aftermarket    6431.35706
                   primary        6769.70548
Lower Silesia      aftermarket    7307.29069
                   primary        7800.95102
Lublin             aftermarket    7041.13556
                   primary        6792.27779
Lubusz             aftermarket    5337.28831
                   primary        5482.42717
Masovia            aftermarket    9866.87232
                   primary        9167.14042
Opole              aftermarket    5052.69153
                   primary        5519.13080
Podlaskie          aftermarket    7310.81568
                   primary        7707.84237
Pomerania          aftermarket    8648.68380
                   primary        7871.45324
Silesia            aftermarket    5511.49943
                   primary        6800.44303
Subcarpathia       aftermarket    6242.79567
                   primary        6603.03495
Warmia-Masuria     aftermarket    6119.82045
                   primary        6101.00352
West Pomerania     aftermarket    7299.96890
                   primary        7930.52594
Świętokrzyskie     aftermarket    5759.22449
                   primary        6457.62916
Name: price_per_meter, dtype: float64